body {
    background: #EEF9BF;
    font-family: "Roboto";
}

h1 {
    font-weight: 700;
    font-size: 56px;
    color: #75B79E;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.container {
    width: 872px;
    margin: auto;

    display: flex;
    box-sizing: border-box;

    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    margin-bottom: 40px;
}

.card {
    width: 117px;
    height: 146px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
}

.card img {
    width: 100px;
    height: 100px;
}

@media (max-width: 629px) {
	.container {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1 {
        margin: 40px auto 40px auto;
        font-size: 36px;
        width: 240px;
    }
}